<ion-content class="ion-padding">
  <h3>Tu Libro de Sombras 🌑</h3>
  
  <ion-textarea 
    label="Escribe tu hechizo o pensamiento..." 
    labelPlacement="floating" 
    fill="outline" 
    [(ngModel)]="nuevoHechizo"
    rows="6">
  </ion-textarea>

  <ion-button expand="block" (click)="guardarEntrada()" class="ion-margin-top">
    Guardar en el Libro
  </ion-button>

  <ion-list>
    <ion-list-header>Entradas Anteriores</ion-list-header>
    <ion-item *ngFor="let entrada of entradas">
      <ion-label class="ion-text-wrap">{{ entrada }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>