<ion-content [fullscreen]="true" scroll-y="false">
  
  <div class="stars-bg"></div>

  <div class="main-container">
    
    <div class="hero-section">
      <div class="moon-container">
        <img [src]="imagenFase" alt="Fase Lunar" class="real-moon-image">
        <div class="moon-glow"></div>
      </div>

      <h1 class="app-title">Brujilapp</h1>
      
      <p class="subtitle">
        Hoy la energía es de: <br>
        <strong style="color: #d4af37; text-transform: uppercase;">{{ nombreFase }}</strong>
      </p>
    </div>

    <div class="cards-container">
      
      <ion-card routerLink="/temas" class="mystic-card tarot-card">
        <div class="card-bg"></div>
        <ion-card-header>
          <div class="icon-box">
            <img src="assets/tarotlog-removebg.png" alt="Icono Tarot">
          </div>
          <div class="card-text">
            <ion-card-title>Oráculo & Tarot</ion-card-title>
            <ion-card-subtitle>Lectura de Arcanos</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>

      <ion-card button routerLink="/rituales" class="mystic-card ritual-card">
        <div class="card-bg"></div>
        <ion-card-header>
          <div class="icon-box purple">
            <img src="assets/altarlog-removebg.png" alt="Icono Altares">
          </div>
          <div class="card-text">
            <ion-card-title>Rituales</ion-card-title>
            <ion-card-subtitle>Prácticas y Conexión</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>

      <ion-card button routerLink="/carta-natal" class="mystic-card astral-card">
        <div class="card-bg"></div>
        <ion-card-header>
          <div class="icon-box gold">
            <ion-icon name="planet"></ion-icon>
          </div>
          <div class="card-text">
            <ion-card-title>Carta Astral</ion-card-title>
            <ion-card-subtitle>Tu Matriz de Nacimiento</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>

    </div>

    <div class="bottom-section">
      <div class="grimoire-container" routerLink="/libro-sombras">
        <div class="grimoire-border"></div>
        <ion-button fill="clear" class="grimoire-btn">
          <ion-icon name="journal" slot="start"></ion-icon>
          Abrir Grimorio
        </ion-button>
      </div>

      <div class="coven-signature">
        <p>✦ UMBRAE SACRAE ✦</p>
      </div>
    </div>

  </div>
</ion-content>